body {
    margin: 0;
}

h1, h3, a {
    font-family: Arial;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: darkorange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border: 3px solid black;
}

#contact-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}

@media screen and (max-width: 700px){
    .navbar {
        background-color: red;
        flex-direction: column-reverse;
    }
    #products-content {
        flex-direction: column;
    }
}

#cake {
    height: auto;
    width: 300px;
}

#front-page-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 100px;
}

#products-content {
    display: flex;
    justify-content: space-evenly;

}
.product-image {
    width: 300px;
}

.products-tile {
    display: flex;
    align-items: center;
    flex-direction: column;
}